<div id="searching-bar-content">
  <form id="searching_bar" class="mb-20 input-group">
    <input id="search" class="form-control" name="searchTerm" placeholder="Rechercher une série" [(ngModel)]="searchTerm">
    <span class="input-group-btn">
        <button
          id="search_for"
          class="btn btn-primary"
          [class.loading]="isLoading"
          (click)="searching()"
        >
            Rechercher<i class="fa fa-refresh fa-spin"></i>
        </button>
    </span>
  </form>
</div>
