<div id="serie" class="container">
  <button (click)="goBack()" class="btn btn-primary" >Retour</button>
  <div class="row mb-30">
    <div class="col-xs-12 col-sm-6 col-md-3 text-center mix">
      <img src="{{ serie?.images.poster }}" alt="">

      <div *ngIf="auth.isAuthenticated()">
        <div *ngIf="!serie.favorite" class="row" >
          <p class="text-center">
            <a (click)="addToFavorite(serie)" id="follow_button" class="btn btn-primary follow" >
              <span>Suivre la série</span>
            </a>
          </p>
        </div>
        <div *ngIf="serie.favorite" class="row" >
          <p class="text-center">
            <a (click)="removeFavorite(serie);" id="follow_button" class="btn btn-primary follow" >
              <span>Ne plus suivre</span>
            </a>
          </p>
        </div>
      </div>
      <p *ngIf="!auth.isAuthenticated()">Connectez-vous si vous voulez suivre cette série.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <h1>{{ serie?.title }}</h1>
      <p class="genre">
        Genre : <span *ngFor="let genre of serie?.genres">{{ genre }} </span>
      </p>
      <p class="rating">
        <strong>Vote :</strong> {{ serie?.rating }}
      </p>
      <p class="description">
        <strong>Description :</strong> {{ serie?.description }}
      </p>

      <div id="seasons" class="row">
        <div class="col-xs-12 mb-20">
          <h3>Les saisons</h3>
        </div>

        <div *ngFor="let seasons_details of serie?.seasons_details" id="" class="mix col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center mb-30">
          <!-- <img src="{{ season.image }}" alt=""> -->
          <br>
          <p class="season-number text-uppercase">Saison {{ seasons_details.number }}</p>
          <!-- <p class="text-uppercase">{{ season.name }}</p> -->
          <a routerLink="/season/{{ serie.id }}/{{ seasons_details.number }}" class="serie-season btn btn-primary">Voir</a>
        </div>
      </div>
      <!-- #seasons -->
    </div>
  </div>
  <!-- .row .mb-30 -->

</div>
<!-- #serie -->
