
 <nav id="main-header" class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header col-md-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" routerLink="">Ventura</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><a routerLink="search" >Explorer</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
         <ul *ngIf="!auth.isAuthenticated()" class="nav navbar-nav register-section">
            <li><a (click)="auth.login()" style="cursor: pointer;">Connexion</a></li>
         </ul>
         <ul *ngIf="auth.isAuthenticated()" class="nav navbar-nav register-section">
                <li><a routerLink="/my-series" routerLinkActive="active" href="">Mes séries</a></li>
                <li><a routerLink="/my-profile" routerLinkActive="active">Mon profil</a></li>
                <li><a href="" (click)="auth.logout()">Déconnexion</a></li>
         </ul>
      </div>
    </div>
        <router-outlet></router-outlet>
   </div>
</nav>
