/*---- HOME ----*/
#home_header {
   position: relative;
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
    background-attachment: fixed;
   padding: 200px 0;
}


#home_header:after {
   content: '';
   position: absolute;
   top: 0; bottom: 0; left: 0; right: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 1;
}

#home_header h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 50px;
    position: relative;
    text-transform: uppercase;
    color: #FFF;
    z-index: 2;
}

#home_header small {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    color: #FFF;
    z-index: 2;
}

.banner {
    padding: 50px;
}

.banner.red {
    background-color: #C41945;
}

.banner.red a {
    display: inline-block;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.banner.red a:hover {
    text-decoration: none;
    background-color: #FFF;
    color: #C41945;
}
