<app-header></app-header>

<div class="container">
    <div class="row">
      <ul class="series">
        <li *ngFor="let serie of series"
          [class.selected]="serie === selectedserie"
          (click)="onSelect(serie)">
          <div id="" class="mix col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mb-30">
              <div class="serie-wrapper">
                      <img src="{{ serie.image }}" alt="" >
                  <div class="shadow-hover">
                      <p class="title text-uppercase">{{ serie.title }}</p>
                      <p class="text-center">
                          <a href="" class="btn btn-primary" >Afficher</a>
                      </p>
                  </div>
              </div>
          </div>
        </li>
      </ul>
    </div>
</div>
