<div id="home_header" style="background-image: url('https://www.betaseries.com/images/site/hero-1.jpg');">
    <h1 class="text-center" >
        Ventura <br/>
        <small>Alors on mate quoi ce soir ?</small>
    </h1>
</div>

<!-- {% if app.user %}
    <div class="banner red text-center">
        <h2><a href="{{ path('my_series') }}">Vos séries ici</a></h2>
    </div>
{% else %} -->
    <div class="banner red text-center">
        <h2><a href="">Connectez-vous ici</a></h2>
    </div>
<!-- {% endif %} -->

<!-- <div class="container">
    <div class="row">
      <ul class="series">
        <li *ngFor="let serie of series"
          [class.selected]="serie === selectedserie"
          (click)="onSelect(serie)">
          <div id="" class="mix col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mb-30">
              <div class="serie-wrapper">
                      <img src="{{ serie.image }}" alt="" >
                  <div class="shadow-hover">
                      <p class="title text-uppercase">{{ serie.title }}</p>
                      <p class="text-center">
                          <a href="" class="btn btn-primary" >Afficher</a>
                      </p>
                  </div>
              </div>
          </div>
        </li>
      </ul>
    </div>
</div> -->
