* {
   margin: 0;
   padding: 0;
}

body {
   line-height: 1;
}

a {
   text-decoration: none;
}

h1, h2, h3, h4 {
   margin: 0;
   font-weight: normal;
}

li {
   list-style: none;
}

.mix img
{
   width: 100%;
   height: auto;
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* You can add global styles to this file, and also import other style files */

.btn-primary {
  background-color: #F51F56 !important;
  border: 1px solid #F51F56 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: #C41945 !important;
  border: 1px solid #C41945 !important;
}



.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}


.serie-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
