<div class="container">
    <div class="row">
        <!-- {% if series is defined %}
            {% for show in series %} -->
                <div id="" class="mix col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mb-30">
                    <div class="serie-wrapper">
                        <!-- {% if show.image is defined %} -->
                            <img src="" alt="" >
                        <!-- {% else %} -->
                            <!-- {% image '@AppBundle/Resources/images/no_image.jpg' output='/images/no_image.jpg' %} -->
                            <img src="" alt="Ceci n'est pas une image"/>
                            <!-- {% endimage %} -->
                        <!-- {% endif %} -->
                        <div class="shadow-hover">
                            <p class="title text-uppercase">Title</p>
                            <p class="text-center">
                                <a href="" class="btn btn-primary" >Afficher</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!-- {% endfor %} -->
        <!-- {% endif %} -->
    </div>
</div>
